.foot{
	width: 100%;
	background-color: #222;
	display: flex;
	flex-direction: column;
}
.footerimg{
	margin: 20px auto;
}
.footerimg img{
	width: 250px;
	height: auto;
}
.footertext{
	color: #fff;
	margin: 0 auto;
	font-size: 1.3em;
}