.btns{
	float: right;
}
.fa-times{
	color: #e74c3c;
}
.btn-danger{
	background-color: #e74c3c;
}
.btn-danger i{
	padding: 5px 10px;
}
.btn-info{
	background-color: #2980b9;
}
.btn-info i{
	padding: 5px 10px;
}